header {
	background-color: blue;
	height: 80px;
}
header ul {
	float: right;
	display: inline-block;
}
header li {
	display: inline-block;
}
header a:link, a:visited {
	color: white;
	text-decoration: none;
}
header a:hover{
	text-decoration: underline;
}
main{
	margin: 1% 5%;
}
.top-nav{
	margin-bottom: 2%;
}
.container{
	border-color: black;
	border-style: solid;
	border-width: 2px;
	min-height: 30%;
	margin-bottom: 2%;

}
.column{
	display: inline-block;
	margin-bottom: 2%;
	width: 50%;
}
.column img{
	float: left;
}